@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&family=Bellefair&display=swap');
/* 

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  box-sizing: border-box;
	text-decoration: none;
}

body {
	line-height: 1;
	background-color: var(--dark);
	color: var(--secondary-text);
	max-height: 100vh;
	max-width: 100vh;
}

:root {
	--dark: #0B0D17;
	--bg-nav: #191b23;
  --primary-text: #D0D6F9;
  --secondary-text: rgb(255, 255, 255);
	font-family: 'Bellefair', serif;
}

h1 {
	font-size: 80px;
	text-transform: uppercase;
	margin: 2rem auto 3rem;
	font-weight: 500;
}

h2 {
	font-size: 80px;
	text-transform: uppercase;
	
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}

h4 {
	font-size: 32px;
	text-transform: uppercase;
}

h5 {
	text-transform: uppercase;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	
}

p {
	font-family: 'Barlow Condensed', sans-serif;
	color: var(--primary-text);
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 2px;
	font-weight: 300;
}

@media(min-width: 600px) {
	.active {
		border-bottom: 3px solid white;
	}
}

@media(min-width: 1200px) {
	p {
		font-size: 18px;
	}
} */